/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/ext_power.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/pointing.h>

#define MAC          0
#define LO           1
#define RAISE        2
#define SCRL         3
#define ADJUST       4

// Mouse layers

&mmv {
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&mt {
    flavor = "balanced";
};

/ {
    macros {
        bt0_and_osx: bt0_and_osx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&bt BT_SEL 0>,
                <&to MAC>;
        };
        bt1_and_win: bt1_and_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&bt BT_SEL 1>,
                <&tog WIN>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_LBRACKET {
            timeout-ms = <50>;
            key-positions = <27 39>;
            bindings = <&kp LBKT>;
        };
        combo_LCURLYBRACE {
            timeout-ms = <50>;
            key-positions = <28 40>;
            bindings = <&kp LS(LBKT)>;
        };
        combo_LPARENTHESIS {
            timeout-ms = <50>;
            key-positions = <15 27>;
            bindings = <&kp LS(N9)>;
        };
        combo_DASH {
            timeout-ms = <50>;
            key-positions = <16 28>;
            bindings = <&kp MINUS>;
        };
        combo_LOWDASH {
            timeout-ms = <50>;
            key-positions = <17 29>;
            bindings = <&kp LS(MINUS)>;
        };

        combo_RBRACKET {
            timeout-ms = <50>;
            key-positions = <31 45>;
            bindings = <&kp RBKT>;
        };
        combo_RCURLYBRACE {
            timeout-ms = <50>;
            key-positions = <30 44>;
            bindings = <&kp LS(RBKT)>;
        };
        combo_RPARENTHESIS {
            timeout-ms = <50>;
            key-positions = <20 32>;
            bindings = <&kp LS(N0)>;
        };
        combo_EQUAL {
            timeout-ms = <50>;
            key-positions = <19 31>;
            bindings = <&kp EQUAL>;
        };
        combo_PLUS {
            timeout-ms = <50>;
            key-positions = <18 30>;
            bindings = <&kp LS(EQUAL)>;
        };
        combo_CAPSWORD {
            timeout-ms = <50>;
            key-positions = <28 31>;
            bindings = <&caps_word>;
        };
        compatible = "zmk,combos";
    };

    behaviors {
        td_media: tap_dance_media {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C_PLAY>, <&kp C_NEXT>, <&kp C_PREV>;
        };

        hm_l: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            hold-trigger-key-positions = <   6  7  8  9 10 11
                                            18 19 20 21 22 23
                                            30 31 32 33 34 35
                                            44 45 46 47 48 49
                                            55 56 57 58 59>;    // <---[[right-hand keys]]
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };

        hm_r: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            hold-trigger-key-positions = <   0  1  2  3  4  5
                                            12 13 14 15 16 17
                                            24 25 26 27 28 29
                                            36 37 38 39 40 41
                                               50 51 52 53 54>;    // <---[[left-hand keys]]
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer_mac {
            if-layers = <LO RAISE>;
            then-layer = <ADJUST>;
        };
        win_lower_layer {
            if-layers = <WIN LO>;
            then-layer = <LO_W>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAC {
            display-name = "todd";
            bindings = <
            &none           &kp N1          &kp N2          &kp N3          &kp N4          &kp N5                                          &kp N6          &kp N7          &lt SCRL N8     &kp N9          &kp N0          &none
            &none           &kp Q           &kp W           &kp E           &kp R           &kp T                                           &kp Y           &kp U           &kp I           &kp O           &kp P           &none
            &none           &hm_l LCMD A    &hm_l LALT S    &hm_l LCTRL D   &hm_l LSHFT F   &kp G                                           &kp H           &hm_r RSHFT J   &hm_r RCTRL K   &hm_r LALT L    &hm_r RCMD SEMI &none
            &none           &kp Z           &kp X           &kp C           &kp V           &kp B           &td_media       &none           &kp N           &kp M           &kp COMMA       &kp DOT         &kp FSLH        &none
                                            &none           &none           &kp DEL         &lt RAISE TAB   &kp RET         &kp ESC         &lt LO SPACE    &kp BSPC        &none           &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        LO {
            display-name = "lower";
            bindings = <
            &none           &kp F1          &kp F2          &kp F3          &kp F4          &kp F5                                           &kp F6         &kp F7          &kp F8          &kp F9          &kp F10         &none
            &none           &kp F11         &kp N7          &kp N8          &kp N9          &kp F12                                          &kp GRAVE      &trans          &kp HOME        &kp END         &kp PAGE_UP     &none
            &none           &mt LCMD N0     &mt LALT N4     &mt LCTRL N5    &mt LSHFT N6    &trans                                           &kp LEFT       &kp DOWN        &kp UP          &kp RIGHT       &kp PAGE_DOWN   &none
            &none           &kp N0          &kp N1          &kp N2          &kp N3          &kp DOT         &trans          &kp LG(0)        &kp TILDE      &kp PIPE        &kp SQT         &kp DQT         &kp BSLH        &none
                                            &trans          &trans          &trans          &trans          &trans          &trans           &trans         &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp LG(MINUS) LG(PLUS)>;
        };

        RAISE {
            display-name = "maus";
            bindings = <
            &none           &kp F1          &kp F2          &kp F3          &kp F4          &kp F5                                          &kp F6          &kp F7          &kp F8          &kp F9          &kp F10         &none
            &none           &kp F11         &trans          &trans          &trans          &kp F12                                         &trans          &mkp MB4        &mkp MB5        &trans          &trans          &none
            &none           &trans          &trans          &trans          &trans          &trans                                          &trans          &mkp LCLK       &mo SCRL        &mkp RCLK       &mkp MCLK       &none
            &none           &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &kp BSLH        &none
                            &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(MINUS)>;
        };

        SCRL {
            display-name = "scroll";
            bindings = <
            &trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &mkp LCLK       &trans          &mkp RCLK       &trans          &trans
            &trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
            &trans          &trans          &trans          &trans          &trans          &trans                                          &trans          &trans          &trans          &trans          &trans          &trans
            &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
                                            &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans          &trans
            >;
        };

        ADJUST {
            display-name = "adjust";
            bindings = <
            &none           &none           &none           &none           &none           &none                                           &none           &none           &none           &none           &none           &none
            &none           &bt0_and_osx    &bt1_and_win    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4                                    &none           &kp C_VOL_UP    &kp C_BRI_INC   &none           &bt BT_CLR      &none
            &none           &none           &mmv MOVE_LEFT  &mmv MOVE_UP    &mmv MOVE_RIGHT &msc SCRL_UP                                    &none           &kp C_VOL_DN    &kp C_BRI_DEC   &none           &none           &none
            &none           &none           &none           &mmv MOVE_DOWN  &none           &msc SCRL_DOWN  &none           &none           &none           &kp C_PREV      &kp C_PLAY      &kp C_NEXT      &none           &none
                                            &none           &none           &none           &none           &none           &none           &none           &none           &none           &none
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_DEC C_BRI_INC>;
        };
    };
};
