/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define MAC          0
#define WINDOWS      1
#define LOWER        2
#define ADJUST       3
#define MOUSE        4
#define MOUSEFAST    5
#define MOUSESLOW    6
#define MOUSEXSLOW   7

#define MOUSE_TP     8
#define MOUSE_TP_SET 9

#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/ext_power.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mmv {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <1>;
};

&msc {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <1>;
};

&mmv_input_listener {
    set_mouse_fast {
        layers = <MOUSEFAST>;
        input-processors = <&zip_xy_scaler 2 1>;
    };
};

&mmv_input_listener {
    set_mouse_slow {
        layers = <MOUSESLOW>;
        input-processors = <&zip_xy_scaler 1 2>;
    };
};

&mmv_input_listener {
    set_mouse_extra_slow {
        layers = <MOUSEXSLOW>;
        input-processors = <&zip_xy_scaler 1 4>;
    };
};

/ {
    macros {
        bt0_and_osx: bt0_and_osx {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&bt BT_SEL 0>,
                <&to MAC>;
        };
        bt1_and_win: bt1_and_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&bt BT_SEL 1>,
                <&to WINDOWS>;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_LBRACKET {
            timeout-ms = <50>;
            key-positions = <13 25>;
            bindings = <&kp LBKT>;
        };
        combo_LCURLYBRACE {
            timeout-ms = <50>;
            key-positions = <14 26>;
            bindings = <&kp LS(LBKT)>;
        };
        combo_LPARENTHESIS {
            timeout-ms = <50>;
            key-positions = <15 27>;
            bindings = <&kp LS(N9)>;
        };
        combo_DASH {
            timeout-ms = <50>;
            key-positions = <16 28>;
            bindings = <&kp MINUS>;
        };
        combo_LOWDASH {
            timeout-ms = <50>;
            key-positions = <17 29>;
            bindings = <&kp LS(MINUS)>;
        };

        combo_RBRACKET {
            timeout-ms = <50>;
            key-positions = <22 34>;
            bindings = <&kp RBKT>;
        };
        combo_RCURLYBRACE {
            timeout-ms = <50>;
            key-positions = <21 33>;
            bindings = <&kp LS(RBKT)>;
        };
        combo_RPARENTHESIS {
            timeout-ms = <50>;
            key-positions = <20 32>;
            bindings = <&kp LS(N0)>;
        };
        combo_EQUAL {
            timeout-ms = <50>;
            key-positions = <19 31>;
            bindings = <&kp EQUAL>;
        };
        combo_PLUS {
            timeout-ms = <50>;
            key-positions = <18 30>;
            bindings = <&kp LS(EQUAL)>;
        };
        compatible = "zmk,combos";
    };
};
/*
 * Defines to enable/disable features
 *
 * These defines allow us to conditionally enable and disable parts of the keymap config.
 *
 * For example, if we decide to build the firmware without the mouse features, we can
 * disable all the config options that rely on those forks and modules without having
 * to edit the entire keymap file manually every time.
 */

// #define HAS_MOUSE_TP

#ifdef HAS_MOUSE_TP
  // We store the trackpoint settings in a separate file
  // to make organization a little easier.
  #include "include/mouse_tp.dtsi"
#endif  // HAS_MOUSE_TP

#ifdef HAS_MOUSE_TP
  #define U_TOG_TP_SET &tog MOUSE_TP_SET
#else
  #define U_TOG_TP_SET &none
#endif  // HAS_MOUSE_TP

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "macOS";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &kp ESCAPE               &kp N1                   &kp N2                   &kp N3                   &kp N4                   &kp N5                                                                        &kp N6                   &kp N7                   &kp N8                   &kp N9                   &kp N0                   &kp DEL
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp DEL                  &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                                                                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                    &kp BSPC
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp TAB                  &kp A                    &kp S                    &kp D                    &kp F                    &kp G                                                                         &kp H                    &kp J                    &kp K                    &kp L                    &kp SEMI                 &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp LSHFT                &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                      &mo MOUSESLOW             &kp C_PLAY               &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                 &kp RSHFT
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &kp LEFT_CONTROL         &kp LALT                 &kp LEFT_COMMAND         &lt LOWER SPACE          &kp RET                     &kp RET                  &lt LOWER SPACE          &kp RIGHT_COMMAND        &kp LALT                 &kp RIGHT_CONTROL
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        windows {
            display-name = "windows";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &kp ESCAPE               &kp N1                   &kp N2                   &kp N3                   &kp N4                   &kp N5                                                                        &kp N6                   &kp N7                   &kp N8                   &kp N9                   &kp N0                   &kp DEL
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp DEL                  &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                                                                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                    &kp BSPC
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp TAB                  &kp A                    &kp S                    &kp D                    &kp F                    &kp G                                                                         &kp H                    &kp J                    &kp K                    &kp L                    &kp SEMI                 &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp LSHFT                &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                      &mo MOUSESLOW             &kp C_PLAY              &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                 &kp RSHFT
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &kp LEFT_COMMAND         &kp LALT                 &kp LEFT_CONTROL         &lt LOWER SPACE          &kp RET                     &kp RET                  &lt LOWER SPACE          &kp RIGHT_CONTROL         &kp LALT                &kp RIGHT_COMMAND
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        LOWER {
            display-name = "lower";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &kp F12                  &kp F1                   &kp F2                   &kp F3                   &kp F4                   &kp F5                                                                        &kp F6                   &kp F7                   &kp F8                   &kp F9                   &kp F10                  &kp F11
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp GRAVE                &trans                   &kp N7                   &kp N8                   &kp N9                   &trans                                                                        &trans                   &trans                   &kp HOME                 &kp END                  &kp PAGE_UP              &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &kp N0                   &kp N4                   &kp N5                   &kp N6                   &trans                                                                        &kp LEFT                 &kp DOWN                 &kp UP                   &kp RIGHT                &kp PAGE_DOWN            &kp PIPE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &kp N0                   &kp N1                   &kp N2                   &kp N3                   &kp GRAVE                  &trans                    &kp LG(0)                &trans                   &trans                   &trans                   &trans                   &kp BSLH                 &trans
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &mo ADJUST               &trans                      &trans                   &mo ADJUST               &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp LG(MINUS) LG(PLUS)>;
        };

        ADJUST {
            display-name = "adjust";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &bt BT_CLR               &bt0_and_osx             &bt1_and_win             &bt BT_SEL 2             &bt BT_SEL 3             &bt BT_SEL 4                                                                  &to MAC                  &to WINDOWS              &none                    &none                    &none                    &studio_unlock
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &ext_power EP_TOG        &none                    &none                    &none                    &none                    &none                                                                         &none                    &kp C_BRI_INC            &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &kp C_BRI_DEC            &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                      &none                     &none                    &none                    &none                    &none                    &none                    &none                    &none
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &none                    &none                    &none                    &none                    &none                       &none                    &none                    &none                    &none                    &none
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_DEC C_BRI_INC>;
        };

        MOUSE {
            display-name = "Mouse";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &mo MOUSEFAST            &mo MOUSESLOW            &mo MOUSEXSLOW                                                                &none                    &mkp MB4                 &mmv MOVE_UP             &mkp MB5                 &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &none                    &none                    &none                    &none                                                                         &msc SCRL_UP             &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &mkp RCLK                &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &none                    &none                    &none                    &none                      &none                     &none                    &msc SCRL_DOWN           &msc SCRL_LEFT           &mkp MCLK                &msc SCRL_RIGHT          &none                    &none
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &mkp LCLK                &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        MouseFast {
            display-name = "MouseFast";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &mkp MB4                 &mmv MOVE_UP             &mkp MB5                 &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &msc SCRL_UP             &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &mkp RCLK                &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                      &none                     &none                    &msc SCRL_DOWN           &msc SCRL_LEFT           &mkp MCLK                &msc SCRL_RIGHT          &none                    &none
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &trans                   &mkp RCLK                   &trans                   &mkp LCLK                &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

        MouseSlow {
            display-name = "MouseSlow";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &mkp MB4                 &mmv MOVE_UP             &mkp MB5                 &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &msc SCRL_UP             &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &mkp RCLK                &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                      &none                     &none                    &msc SCRL_DOWN           &msc SCRL_LEFT           &mkp MCLK                &msc SCRL_RIGHT          &none                    &none
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &trans                   &mkp RCLK                   &trans                   &mkp LCLK                &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp DOWN UP>;
        };

        MouseXSlow_layer {
            display-name = "MouseXslow";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &mkp MB4                 &mmv MOVE_UP             &mkp MB5                 &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &msc SCRL_UP             &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &mkp RCLK                &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                      &none                     &none                    &msc SCRL_DOWN           &msc SCRL_LEFT           &mkp MCLK                &msc SCRL_RIGHT          &none                    &none
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &trans                   &mkp RCLK                   &trans                   &mkp LCLK                &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp PAGE_DOWN PAGE_UP>;
        };

#ifdef HAS_MOUSE_TP

    // Automatically activated when the mouse or trackpoint moves.
    // Configured in `include/mouse_tp.dtsi`.
    MouseTP_layer {
    display-name = "TP";
    bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_TOG_TP_SET             &none                    &none                    &mmv MOVE_UP             &msc SCRL_UP             &none                                                                         &none                    &msc SCRL_UP             &mmv MOVE_UP             &none                    &none                    U_TOG_TP_SET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &msc SCRL_UP                                                                  &msc SCRL_UP             &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &none                     &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &none                    &none                    &msc SCRL_DOWN           &msc SCRL_DOWN             &none                     &none                    &msc SCRL_DOWN           &msc SCRL_DOWN           &msc SCRL_LEFT           &msc SCRL_RIGHT          &trans                    &trans
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &none                    &none                    &mkp MCLK                &mkp LCLK                &mkp RCLK                   &mkp RCLK                &mkp LCLK                &mkp MCLK                &none                    &none
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
    >;
    };


    // You can find the defines for the actual key press behaviors in `include/mouse_tp.dtsi`.
    MouseSettings_layer {
    display-name = "TP Set";
    bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_TOG_TP_SET             U_TOG_TP_SET             &none                    U_MSS_TP_S_D             U_MSS_TP_S_I             U_MSS_TP_PT_I                                                                 U_MSS_TP_PT_I            U_MSS_TP_S_D             U_MSS_TP_S_I             &none                    U_TOG_TP_SET              U_TOG_TP_SET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_MSS_RESET              U_MSS_RESET              &none                    U_MSS_TP_NI_D            U_MSS_TP_NI_I            U_MSS_TP_PT_D                                                                 U_MSS_TP_PT_D            U_MSS_TP_NI_D            U_MSS_TP_NI_I            &none                    U_MSS_RESET               U_MSS_RESET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_MSS_LOG                U_MSS_LOG                &none                    U_MSS_TP_V6_D            U_MSS_TP_V6_I            &none                      &none                     &none                    &none                    U_MSS_TP_V6_D            U_MSS_TP_V6_I            &none                    U_MSS_LOG                 U_MSS_LOG
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &none                    &none                    &trans                   &mkp LCLK                &mkp RCLK                   &none                    &mkp LCLK                &mkp RCLK                &none                    &none
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
    >;
    };

#endif
  };
};