/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define BASE 0
#define WINDOWS 1
#define LOWER 2
#define RAISE 3
#define ADJUST 4

#define MOUSE_KEYS 5
#define MOUSE_TP 6
#define MOUSE_TP_SET 7

/*
 * Defines to enable/disable features
 *
 * These defines allow us to conditionally enable and disable parts of the keymap config.
 *
 * For example, if we decide to build the firmware without the mouse features, we can
 * disable all the config options that rely on those forks and modules without having
 * to edit the entire keymap file manually every time.
 */

 #define U_MOUSE_MOVE_MAX 1400                     /* <--- New max speed setting (default: 600) */
 #undef MOVE_UP
 #undef MOVE_DOWN
 #undef MOVE_LEFT
 #undef MOVE_RIGHT
 #define MOVE_UP MOVE_X(-U_MOUSE_MOVE_MAX)
 #define MOVE_DOWN MOVE_X(U_MOUSE_MOVE_MAX)
 #define MOVE_LEFT MOVE_Y(-U_MOUSE_MOVE_MAX)
 #define MOVE_RIGHT MOVE_Y(U_MOUSE_MOVE_MAX)

 #define U_MOUSE_SCRL_MAX 100                    /* <--- New max speed setting (default: 10) */

 #undef SCRL_UP
 #undef SCRL_DOWN
 #undef SCRL_LEFT
 #undef SCRL_RIGHT
 #define SCRL_UP SCRL_X(U_MOUSE_SCRL_MAX)
 #define SCRL_DOWN SCRL_X(-U_MOUSE_SCRL_MAX)
 #define SCRL_LEFT SCRL_Y(-U_MOUSE_SCRL_MAX)
 #define SCRL_RIGHT SCRL_Y(U_MOUSE_SCRL_MAX)

#define HAS_MOUSE_KEYS
#define HAS_MOUSE_TP

#ifdef HAS_MOUSE_KEYS
  #include <dt-bindings/zmk/mouse.h>
  #include <behaviors/mouse_keys.dtsi>
#endif  // HAS_MOUSE_KEYS

#ifdef HAS_MOUSE_TP
  // We store the trackpoint settings in a separate file
  // to make organization a little easier.
  #include "include/mouse_tp.dtsi"
#endif  // HAS_MOUSE_TP



// Adjust layer keys based on enabled features.
//
// This prevents build errors when we build the firmware
// without the mouse keys PR or the TP module.
#ifdef HAS_MOUSE_KEYS
  #define MOUSE_OR_LOWER MOUSE_KEYS
#else
  #define MOUSE_OR_LOWER LOWER
#endif  // HAS_MOUSE_KEYS

#ifdef HAS_MOUSE_TP
  #define U_TOG_TP_SET &tog MOUSE_TP_SET
#else
  #define U_TOG_TP_SET &none
#endif  // HAS_MOUSE_TP


/ {
    behaviors {
        msc_scroll: msc_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "todd";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &kp ESCAPE               &kp N1                   &kp N2                   &kp N3                   &kp N4                   &kp N5                                                                        &kp N6                   &kp N7                   &kp N8                   &kp N9                   &kp N0                   &kp DEL
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp MINUS                &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                                                                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                    &kp BSPC
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp TAB                  &kp A                    &kp S                    &kp D                    &kp F                    &kp G                                                                         &kp H                    &kp J                    &kp K                    &kp L                    &kp SEMI                 &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp LSHFT                &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                      &kp MOUSE_OR_LOWER        &kp C_PLAY               &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                 &kp RSHFT
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &kp LEFT_CONTROL         &mt LALT LBKT            &mt LEFT_COMMAND MINUS   &lt LOWER SPACE            &kp RET                   &lt RET                  &lt RAISE SPACE          &mt RIGHT_COMMAND EQUAL  &mt LALT RBKT            &kp RIGHT_CONTROL
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows {
            display-name = "windows";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &kp ESCAPE               &kp N1                   &kp N2                   &kp N3                   &kp N4                   &kp N5                                                                        &kp N6                   &kp N7                   &kp N8                   &kp N9                   &kp N0                   &kp DEL
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp MINUS                &kp Q                    &kp W                    &kp E                    &kp R                    &kp T                                                                         &kp Y                    &kp U                    &kp I                    &kp O                    &kp P                    &kp BSPC
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp TAB                  &kp A                    &kp S                    &kp D                    &kp F                    &kp G                                                                         &kp H                    &kp J                    &kp K                    &kp L                    &kp SEMI                 &kp SQT
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp LSHFT                &kp Z                    &kp X                    &kp C                    &kp V                    &kp B                      &kp C_PLAY                &kp C_PLAY              &kp N                    &kp M                    &kp COMMA                &kp DOT                  &kp FSLH                 &kp RSHFT
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &kp LEFT_COMMAND         &mt LALT LBKT            &mt LEFT_CONTROL MINUS    &lt LOWER SPACE          &lt MOUSE_KEYS RET          &lt MOUSE_KEYS RET       &lt RAISE SPACE          &mt RIGHT_CONTROL EQUAL &mt LALT RBKT            &kp RIGHT_COMMAND
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        LOW {
            display-name = "lower";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &trans                   &trans                   &trans                   &trans                   &trans                    &trans                                                                       &trans                   &trans                   &trans                   &trans                   &trans                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &kp GRAVE                &kp N1                   &kp N2                   &kp N3                   &kp N4                    &kp N5                                                                       &kp N6                   &kp N7                   &kp N8                   &kp N9                   &kp N0                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &kp EQUAL                &kp UNDER                &trans                   &trans                   &kp HASH                                                                      &kp AMPS                 &trans                   &trans                   &trans                   &trans                   &kp PIPE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &kp PLUS                 &kp EQUAL                &kp TILDE                &kp DOLLAR                &kp PRCNT                 &kp LC(0)                 &kp LG(0)                &kp CARET                &kp KP_MULTIPLY          &kp AT                   &trans                   &kp BSLH                 &trans
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings =
                <&inc_dec_kp LC(PLUS) LC(MINUS)>,
                <&inc_dec_kp LG(PLUS) LG(MINUS)>;
        };

        HIGH {
            display-name = "raise";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &trans                   &trans                   &trans                   &trans                   &trans                   &trans                                                                        &trans                   &trans                   &trans                   &trans                   &trans                   &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &kp F1                   &kp F2                   &kp F3                   &kp F4                   &kp F5                                                                        &kp F6                   &kp F7                   &kp F8                   &kp F9                   &kp F10                  &kp F11
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &trans                   &trans                   &trans                   &trans                   &trans                                                                        &kp LEFT                 &kp DOWN                 &kp UP                   &kp RIGHT                &kp PAGE_UP              &kp F12
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &trans                   &trans                   &trans                   &trans                   &trans                     &trans                    &trans                   &trans                   &trans                   &kp HOME                 &kp END                  &kp PAGE_DOWN            &trans
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &trans                   &trans                   &trans                   &trans                   &trans                      &trans                   &trans                   &trans                   &trans                   &trans
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;

            sensor-bindings = <&inc_dec_kp LG(PLUS) LG(MINUS)>;
        };

        ADJUST {
            display-name = "adjust";
            bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &bt BT_CLR               &bt BT_SEL 0             &bt BT_SEL 1             &bt BT_SEL 2             &bt BT_SEL 3             &bt BT_SEL 4                                                                  &to BASE                 &to WINDOWS              &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &ext_power EP_TOG        &rgb_ug RGB_BRI          &rgb_ug RGB_HUI          &rgb_ug RGB_SPI          &rgb_ug RGB_SAI          &rgb_ug RGB_EFF                                                               &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &rgb_ug RGB_BRD          &rgb_ug RGB_HUD          &rgb_ug RGB_SPD          &rgb_ug RGB_SAD          &rgb_ug RGB_EFR                                                               &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &none                    &none                    &none                    &none                    &none                    &none                      &none                     &none                    &none                    &none                    &none                    &none                    &none                    &none
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &none                    &none                    &none                    &none                    &rgb_ug RGB_TOG             &rgb_ug RGB_TOG          &none                    &none                    &none                    &none
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
            >;
        };

#ifdef HAS_MOUSE_KEYS

    MouseKeys_layer {
    display-name = "MouseKeys";
    bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_TOG_TP_SET             &none                    &none                    &mmv MOVE_UP             &msc SCRL_UP             &none                                                                         &none                    &msc SCRL_UP             &mmv MOVE_UP             &none                    &none                    U_TOG_TP_SET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &msc SCRL_UP                                                                  &msc SCRL_UP             &mmv MOVE_LEFT           &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &none                     &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &msc SCRL_RIGHT          &msc SCRL_LEFT           &msc SCRL_DOWN           &msc SCRL_DOWN             &none                     &none                    &msc SCRL_DOWN           &msc SCRL_DOWN           &msc SCRL_LEFT           &msc SCRL_RIGHT          &trans                    &trans
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &mkp MB4                 &mkp MB5                 &mkp MCLK                &mkp LCLK                &mkp RCLK                   &mkp RCLK                &mkp LCLK                &mkp MCLK                &mkp MB4                 &mkp MB5
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
    >;
            sensor-bindings = <&msc_scroll>,<&msc_scroll>;
    };

#endif

#ifdef HAS_MOUSE_TP

    // Automatically activated when the mouse or trackpoint moves.
    // Configured in `include/mouse_tp.dtsi`.
    MouseTP_layer {
    display-name = "TP";
    bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_TOG_TP_SET             &none                    &none                    &mmv MOVE_UP             &msc SCRL_UP             &none                                                                         &none                    &msc SCRL_UP             &mmv MOVE_UP             &none                    &none                    U_TOG_TP_SET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &mmv MOVE_LEFT           &mmv MOVE_DOWN           &to BASE                 &msc SCRL_UP                                                                  &msc SCRL_UP             &to BASE                 &mmv MOVE_DOWN           &mmv MOVE_RIGHT          &none                     &trans
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    &trans                   &none                    &msc SCRL_RIGHT          &msc SCRL_LEFT           &msc SCRL_DOWN           &msc SCRL_DOWN             &none                     &none                    &msc SCRL_DOWN           &msc SCRL_DOWN           &msc SCRL_LEFT           &msc SCRL_RIGHT          &trans                    &trans
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &mkp MB4                 &mkp MB5                 &mkp MCLK                &mkp LCLK                &mkp RCLK                   &mkp RCLK                &mkp LCLK                &mkp MCLK                &mkp MB4                 &mkp MB5
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
    >;
            sensor-bindings = <&msc_scroll>,<&msc_scroll>;
    };


    // You can find the defines for the actual key press behaviors in `include/mouse_tp.dtsi`.
    MouseSettings_layer {
    display-name = "TP Set";
    bindings = <
// ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮                                                    ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
    &none                    &none                    &none                    &none                    &none                    &none                                                                         &none                    &none                    &none                    &none                    &none                    &none
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_TOG_TP_SET             U_TOG_TP_SET             &none                    U_MSS_TP_S_D             U_MSS_TP_S_I             U_MSS_TP_PT_I                                                                 U_MSS_TP_PT_I            U_MSS_TP_S_D             U_MSS_TP_S_I             &none                    U_TOG_TP_SET              U_TOG_TP_SET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                                                    ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_MSS_RESET              U_MSS_RESET              &none                    U_MSS_TP_NI_D            U_MSS_TP_NI_I            U_MSS_TP_PT_D                                                                 U_MSS_TP_PT_D            U_MSS_TP_NI_D            U_MSS_TP_NI_I            &none                    U_MSS_RESET               U_MSS_RESET
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╭──────────────────────╮  ╭──────────────────────╮ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
    U_MSS_LOG                U_MSS_LOG                &none                    U_MSS_TP_V6_D            U_MSS_TP_V6_I            &none                      &none                     &none                    &none                    U_MSS_TP_V6_D            U_MSS_TP_V6_I            &none                    U_MSS_LOG                 U_MSS_LOG
// ╰────────────────────────┴────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤ ╰──────────────────────╯  ╰──────────────────────╯ ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                      &none                    &none                    &trans                   &mkp LCLK                &mkp RCLK                   &none                    &mkp LCLK                &mkp RCLK                &none                    &none
//                                                   ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯  ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────╯
    >;
    };

#endif
  };
};